<div class="container">
  <div class="row">

    <button class="btn btn-success" [routerLink]="['/tasks', 'create']">Добавить</button>
    <div class="col-lg-4" *ngFor="let task of tasks">
      <div class="card mt-3">
        <h1>{{task.title}}</h1>
        <h2>Макс. балл - {{task.maxPoints}}</h2>
        <br>
        <div class="buttons">
          <button class="btn1 btn btn-info" [routerLink]="['/task', task.id, 'edit']"><i class="bi bi-pencil"></i></button>
          <button type="submit" class="btn2 btn btn-danger" (click)="onDelete(task.id)"> <i class="bi bi-trash"></i> </button>
        </div>
      </div>
    </div>
  </div>
</div>
