<div class="col-lg-5">
  <button class="btn btn-secondary" [routerLink]="['/participants']"><i class="bi bi-arrow-left"></i> Назад</button>
  <h1>Создание участника</h1>
  <form id="form" name="form" (ngSubmit)="onSubmit()">
    <input name="firstName" [(ngModel)]="form.firstName" type="text" class="form-control" placeholder="Введите имя" required/>
    <input name="lastName" [(ngModel)]="form.lastName" type="text" class="form-control" placeholder="Введите фамилию" required/>
  </form>

  <button form="form" type="submit" class="btn btn-success">Создать</button>
  <br>
  <div *ngIf="isSuccess" class="alert alert-success">
    Изменения применены.
  </div>
  <div *ngIf="!isSuccess && isSubmitted" class="alert alert-danger">
    Произошла ошибка. Возможно, вы неверно указали какие-то поля.
  </div>

</div>
