<div class="container">
  <div class="row">

    <button class="btn btn-success" [routerLink]="['/participants', 'create']">Добавить</button>
    <div class="col-lg-4" *ngFor="let participant of participants">
      <div class="card mt-3">
        <h1>{{participant.firstName}} {{participant.lastName}}</h1>
        <p *ngIf="participant.team; else elseBlock">{{participant.team.name}}</p>
        <ng-template #elseBlock> <p class="darkText">Нет команды</p> </ng-template>
        <br>
        <div class="buttons">
          <button class="btn1 btn btn-info" [routerLink]="['/participant', participant.id]">Подробнее&nbsp;<i class="bi bi-arrow-right"></i></button>
          <button type="submit" class="btn2 btn btn-danger" (click)="onDelete(participant.id)"> <i class="bi bi-trash"></i> </button>
        </div>
      </div>
    </div>
  </div>
</div>
