<div class="container">
  <div class="row">

    <button class="btn btn-success" [routerLink]="['/teams', 'create']">Добавить</button>
    <div class="col-lg-4" *ngFor="let team of teams">
      <div class="card mt-3">
        <h1>{{team.name}}</h1>
        <br>
        <div class="buttons">
          <button class="btn1 btn btn-info" [routerLink]="['/team', team.id, 'edit']"><i class="bi bi-pencil"></i></button>
          <button type="submit" class="btn2 btn btn-danger" (click)="onDelete(team.id)"> <i class="bi bi-trash"></i> </button>
        </div>
      </div>
    </div>
  </div>
</div>
